# Source files
src/

# Config files
tsconfig.json
tsconfig.esm.json
tsconfig.cjs.json
eslint.config.ts

# Dev/build files
*.tsbuildinfo
npm-debug.log

# IDE
.vscode/
.idea/
.claude/

# System
.DS_Store
